.editBtn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:9px 20px;
	margin-right: 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.editBtn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.editBtn:active {
	position:relative;
	top:1px;
}
.removeBtn {
	box-shadow: 0px 0px 0px 2px #f09e9e;
	background:linear-gradient(to bottom, #c27878 5%, #9c4646 100%);
	background-color:#c27878;
	border-radius:10px;
	border:1px solid #944d4d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:9px 20px;
	margin-right: 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662929;
}
.removeBtn:hover {
	background:linear-gradient(to bottom, #9c4646 5%, #c27878 100%);
	background-color:#9c4646;
}
.removeBtn:active {
	position:relative;
	top:1px;
}
.newStudent {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.newStudent:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.newStudent:active {
	position:relative;
	top:1px;
}

