<table>
<tr>
<th>Name</th>
<th>ID</th>
<th>Grade</th></tr>

{% for row in table_rows: %}
	<tr id = 'row{{row[4]}}' class = 'row{{row[4]}}' >
	<td id = 'r{{row[4]}}c0' class = 'row{{row[4]}}'  onclick = 'rowClick("row{{row[4]}}", "nothing");'>{{row[0]}}</td>
	<td id = 'r{{row[4]}}c1' class = 'row{{row[4]}}'  onclick = 'rowClick("row{{row[4]}}", "nothing");'>{{row[1]}}</td>
	<td id = 'r{{row[4]}}c2' class = 'row{{row[4]}}'  onclick = 'rowClick("row{{row[4]}}", "nothing");'>{{row[2]}}</td>
	<td id = 'r{{row[4]}}idCol' class = 'row{{row[4]}}' style = 'display: none' onclick = 'rowClick("row{{row[4]}}", "nothing");'>{{row[3]}}</td>
	<td id = 'r{{row[4]}}btnCol' style = 'display: none' class = 'btnCol'><span class = 'editBtn' onclick = 'editReq({{row[3]}});'>Edit</span><span class = 'removeBtn' onclick = 'removeReq({{row[3]}});'>Remove</span></td>
	</tr>
{% endfor %}




</table>